#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px; 
    padding-bottom: 10px;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }

  .card-front {
   transition: tranform 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   cursor: pointer;
}

.card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  